# Environments & Python cache
__pycache__/
*.pyc
.venv/
.env

# Private personal information & resumes
config/profile.json
data/*.pdf
data/*.db
data/applications.db

# Text export dumps
*.txt
!requirements.txt
